.message {
    display: flex;
    align-items: flex-end;
    padding: 10px;

}

img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-right: 15px;
}

.message_body {
    background-color: #4D547A;
    border-radius: 4px;
    width: fit-content;
    padding: 10px 10px 5px 10px;
    position: relative;
}

.message_body:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #4D547A;
    border-bottom: 10px solid #4D547A;
    left: -8px;
    z-index: -1;
    bottom: 0px;
}

.bottom {
    display: flex;
}

p {
    margin: 0px;
}

.time {
    margin-left: 15px;
    margin-top: 5px;
    color: #fff;
    opacity: 0.5;
}

.name {
    color: #bd66ff;
    font-weight: 600;
}

.message_text {
    color: #fff;
}
